<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="spectra.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RJCP.SerialPortStream" publicKeyToken="5f5e7b70c6a74deb" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <spectra.Properties.Settings>
      <setting name="SaveDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="IntegrationTime" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="BackToBackPerTrigger" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="NumSpectraPerRequest" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="BufferEnabled" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ScansToAverage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TriggerMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LampEnable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AcquisitionDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AcquisitionDuration" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="AcquisitionDurationIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ArduinoTriggerDelay" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SpectrumThresholdingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpectrumThresholdingAllSatisfiedEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExperimentInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="ConditionsInfo" serializeAs="String">
        <value />
      </setting>
      <setting name="SaveStartPixel" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveEndPixel" serializeAs="String">
        <value>2135</value>
      </setting>
      <setting name="SpectrumFilteringEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpectrumFilteringAverage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpectrumFilteringGaussian" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpectrumFilteringSupport" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CurrentPlotType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveOnWrite" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleSoftwareTriggerEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContinuousStrobePulseEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContinuousStrobePulsePeriod" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ContinuousStrobePulseWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SingleStrobePulseEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SingleStrobePulseDelay" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SingleStrobePulseWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastPlotType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SaveStartWavelength" serializeAs="String">
        <value>157.3</value>
      </setting>
      <setting name="SaveEndWavelength" serializeAs="String">
        <value>1031</value>
      </setting>
      <setting name="SaveFileName" serializeAs="String">
        <value>"spectra_spectrum.csv"</value>
      </setting>
      <setting name="ReferenceType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ResultSpectrumType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NumberOfSpectraForDynamicAccumulation" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="PlotThresholds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StaticReferenceAccumulateTime" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IntervalForDynamicAccumulation" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="NumberOfTimePointsToStore" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="PlotTriggerPoints" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumberOfTriggerPoints" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="SaveWavelengthRange" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberOfTimePointsToPlot" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SaveFileNameAutoUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SaveStepPixel" serializeAs="String">
        <value>1</value>
      </setting>
    </spectra.Properties.Settings>
  </userSettings>
</configuration>
